

    @{
        ViewBag.Title = "Home Page";
    }
    @using Microsoft.AspNet.Identity
    @using HospitalProject.Models
<header id="head">
    <div class="container">
       
        <div id="head2">
            <h2 >Wellcome To Smart Doctor</h2>
            <h1>The Perfect Solution For Hospitals</h1>
            <a class="btn btn-warning">Learn More</a>
        </div>
        <br />

        <br />
        <br />

        <br />
    </div>
</header>
<div class="row">
    <div class="container">
        <h1 class="lead">خدمات المرضى</h1>
        <div class="row">

            <div class="col-md-2 ">
               <a href="~/PatientHagzs/Create"><img class="img-responsive img-circle " src="~/Content/bloodpressuregaugebusinesscomputer263370.jpg" /></a>
                <h3 class="text-center">عمل كشف</h3>

            </div>
            <div class="col-md-2 ">
             <a href="~/PatientHagzs/index"> <img class="img-responsive img-circle " src="~/Content/patients.jpg" /></a>
                <br />
                <h3 class="text-center">كشوفات</h3>


            </div>
            <div class="col-md-2 ">
                <a href="~/rayreqs/Create"> <img class="img-responsive img-circle " src="~/Content/xrayheartbymmattes.jpg" /></a>
                <br />
                <h3 class="text-center">عمل أشعه</h3>


            </div>
            <div class="col-md-2 ">
                <a href="~/home/waitlist"> <img class="img-responsive img-circle " src="~/Content/Waitinglist.jpg" /></a>
                <h3 class="text-center">لائحة الإنتظار</h3>

            </div>
            <div class="col-md-2 ">
                <a href="~/tahlelreqs/create"><img class="img-responsive img-circle " src="~/Content/f27f531198f7feb71b7d392583c5b00d2.jpg" /></a>
                <br />
                <h3 class="text-center">عمل تحليل</h3>


            </div>
            <div class="col-md-2 ">
                <a href="~/Amaleyats/create"> <img class="img-responsive img-circle " src="~/Content/resizedIMG9883.jpg" /></a>
                <br />
                <h3 class="text-center">العمليات</h3>


            </div>
        </div>

    </div>

</div>
<br />
<div class="container">
    <h1 class="lead">خدمات إدارية</h1>
    <div class="row">

        <div class="col-md-2 ">
            <a href="~/Marads/Create"><img class="img-responsive img-circle " src="~/Content/bot102512.png" /></a><br />
            <h3 class="text-center">إضافة مرض أو تخصص</h3>

        </div>
        <div class="col-md-2 ">
            <a href="~/tamen/index"> <img class="img-responsive img-circle " src="~/Content/wallmartendhealthinsurance.jpg" /></a>
            <br />
            <h3 class="text-center">ادارة التأمينات</h3>


        </div>
        <div class="col-md-2 ">
            <a href="~/tahlels/index">   <img class="img-responsive img-circle " src="~/Content/downloadfile.jpg" /></a>
            <br />
            <h3 class="text-center">إدارة التحاليل</h3>


        </div>
        <div class="col-md-2 ">
           <a href="~/rays/index"> <img class="img-responsive img-circle " src="~/Content/139534awomanundergoesamammogramsaspecialtypeofxrayofthebreasts.jpg" /></a>
            <h3 class="text-center">أدارة الأشعة</h3>

        </div>
        <div class="col-md-2 ">
            <a href="~/hesabatins/index"> <img class="img-responsive img-circle " src="~/Content/howtohireanaccountant.jpg" /></a>
            <br />
            <h3 class="text-center">ادارة الحسابات</h3>


        </div>
        <div class="col-md-2 ">
            <img class="img-responsive img-circle " src="~/Content/bloodpressuregaugebusinesscomputer263370.jpg" />
            <br />
            <h3 class="text-center">عمل كشف</h3>


        </div>
    </div>

</div>


      
