@model HospitalProject.Models.HospitalInfo





    
        
        <h1>@Html.DisplayFor(modelItem => Model.Name)</h1>    
       
         <h2>@Html.DisplayFor(modelItem => Model.Address)</h2>   
          
         <h2>@Html.DisplayFor(modelItem => Model.DoctorName)</h2>     
       
   


