@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@using HospitalProject.Models
<div class="jumbotron">
    <h1>عيادة</h1>
    <p class="lead">عيادات جميع التخصصات الطبيه </p>
    <p><a href="" class="btn btn-primary btn-lg">تابعنا &raquo;</a></p>
</div>
@{ 
    HttpContext.Current.User.IsInRole("");
}
<div class="row container">
    <div class="col-md-4">
        <div class="thumbnail">

            <a class="btn btn-success" href="~/PatientHagzs/Create">عمل كشف</a>

        </div>
        <div class="thumbnail">

            <a class="btn btn-success" href="~/tahlelreqs/Create">عمل تحليل</a>

        </div>
        <div class="thumbnail">

            <a class="btn btn-success" href="~/tamen">ادارة التأمينات</a>

        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">

            <a class="btn btn-success" href="~/rayreqs/Create">عمل أشعه</a>

        </div>
        <div class="thumbnail">

            <a class="btn btn-success" href="~/marads">اضافة مرض او تخصص</a>

        </div>
        <div class="thumbnail">

            <a class="btn btn-success" href="~/rays/Create">اضافة أشعه</a>

        </div>
    </div>
    
    <div class="col-md-4">
       
       
       
      
        
       
        <div class="thumbnail">
          
            <a class="btn btn-success" href="~/adwyas/Create">اضافة ادوية</a>

        </div>
        <div class="thumbnail">
            
            <a class="btn btn-success" href="~/tahlels/Create">اضافة تحليل</a>

        </div>
        <div class="thumbnail">
            
            <a class="btn btn-success" href="~/hesabatins">كشف الحسابات</a>

        </div>
        <div class="thumbnail">

            <a class="btn btn-success" href="~/amaleyats">العمليات</a>

        </div>

    </div>
</div>
