@{
        ViewBag.Title = "Home Page";
}
  <div class="slide-window" id="slider">
    <div class="slide-wrapper" style="width:300%;">
        <div class="slide">
            <div class="slide-caption text-center">
                <h3 class="text-uppercase">A range of programs for women’s <span>healthcare</span></h3>
            </div>
        </div>
        <div class="slide slide2">
            <div class="slide-caption text-center">
                <h3 class="text-uppercase">Individual approach to <span>Each Patient </span></h3>
            </div>
        </div>
        <div class="slide slide3">
            <div class="slide-caption text-center">
                <h3 class="text-uppercase">Committed to excellence <span>Medical Clinic</span></h3>
            </div>
        </div>
    </div>
    <div class="slide-controller">
        <div class="slide-control-left">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
        </div>
        <div class="slide-control-right">
            <div class="slide-control-line"></div>
            <div class="slide-control-line"></div>
        </div>
    </div>
</div>
<!-- case studies -->
<section class="case_w3ls  py-lg-5">
    <div class="container py-5">
        <div class="text-center wthree-title pb-sm-5 pb-3">
            <h3 class="w3l-sub">
                Medical Services</h4>
                <h4 class="sub-title py-3">Donec consequat sapien ut leo cursus rhoncus.</h5>
        </div>
        <!-- case studies row -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="img1 img-grid  d-flex align-items-end justify-content-center p-3">
                    <div class="img_text_w3ls">
                        <h4>Emergency Help</h4>
                        <span> </span>
                        <p>Sed porttitor lectus nibh ras ultricies ligula sed magna dictum porta. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-md-0 mt-4">
                <div class="img1 img2 img-grid  d-flex align-items-end justify-content-center p-3">
                    <div class="img_text_w3ls">
                        <h4>Heart Surgery</h4>
                        <span> </span>
                        <p>Sed porttitor lectus nibh ras ultricies ligula sed magna dictum porta. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-lg-0 mt-4">
                <div class="img1 img3 img-grid  d-flex align-items-end justify-content-center p-3">
                    <div class="img_text_w3ls">
                        <h4>Emergency Care</h4>
                        <span> </span>
                        <p>Sed porttitor lectus nibh ras ultricies ligula sed magna dictum porta. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="img1 img5 img-grid  d-flex align-items-end justify-content-center p-3">
                    <div class="img_text_w3ls">
                        <h4>Dental Care</h4>
                        <span> </span>
                        <p>Sed porttitor lectus nibh ras ultricies ligula sed magna dictum porta. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6  mt-4">
                <div class="img1 img4 img-grid  d-flex align-items-end justify-content-center p-3">
                    <div class="img_text_w3ls">
                        <h4>Individual Approach</h4>
                        <span> </span>
                        <p>Sed porttitor lectus nibh ras ultricies ligula sed magna dictum porta. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
                <div class="img1 img6 img-grid  d-flex align-items-end justify-content-center p-3">
                    <div class="img_text_w3ls">
                        <h4>Qualified Doctors</h4>
                        <span> </span>
                        <p>Sed porttitor lectus nibh ras ultricies ligula sed magna dictum porta. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //case studies row -->
    </div>
</section>
<!-- //case studies -->